name: Test des déclencheurs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '32 8 * * *'

jobs:
  trigger-test:
    runs-on: ubuntu-latest
    steps:
      - name: Afficher type de déclencheur
        run: |
          echo "Déclenché par l’événement: ${{ github.event_name }}"
